#treeEventDispatcher {
  overflow-x: auto;
}

#page-container, #main-visualization{
    min-height: calc(100vh - 102px);
}

#minimap{
    position:fixed;
    z-index: 10;
    width:25%;
    height:35%;
    background:white;
    bottom:0;
    right:0;
}


/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
#minimap{
    position:fixed;
    z-index: 10;
    width:25%;
    height:35%;
    background: white;
    bottom:0;
    right:0;
}

#minimap-content{
    border-top: 1px solid black;
}