<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExPreSsiVeNess</title>
    {% load static %}
    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <!-- jsTree -->
    <link rel="stylesheet" href="{% static 'jstree/themes/proton/style.min.css' %}" />

    <script type="text/javascript" src="https://d3js.org/d3.v3.js"></script>
</head>
<body>
    <div id="page-container" class="container-fluid" style="border: 1px solid black;">
        <form method="GET">
            <div class="row">
                    <div id="plugin-loading" class="col-md-6 col-sm-12 text-center">
                            <h1>Data source plugins</h1>
                            {% if plugin_loading %}
                            <select class="form-control" name="source">
                                {% for p in plugin_loading %}
                                    {% if p.identifier == current_source_id %}
                                        <option value="{{forloop.counter}}" selected>{{p.name}}</option>
                                    {% else %}
                                        <option value="{{forloop.counter}}">{{p.name}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        {% else %}
                            <h3>No data source found</h3>
                        {% endif %}
                    </div>
                    <div id="plugin-visualization" class="col-md-6 col-sm-12 text-center">
                        <h1>Visualization plugins</h1>
                        {% if plugin_visualization %}
                            <select class="form-control" name="visualization">
                                {% for p in plugin_visualization %}
                                    {% if p.identifier == current_visualization_id %}
                                        <option value="{{forloop.counter}}" selected>{{p.name}}</option>
                                    {% else %}
                                        <option value="{{forloop.counter}}">{{p.name}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        {% else %}
                            <h3>No data visualization plugins found</h3>
                        {% endif %}
                    </div>
            </div>
            <div class="row mt-2">
                <input type="submit" class="btn btn-primary" value="Load & visualize" />
            </div>
        </form>



        <div class="row border border-dark">
            <div class="col-md-2 col-sm-12 border border-dark">
                <div id="treeEventDispatcher">
                    <div id="jstree">
                        
                    </div>
                </div>
            </div>
            <div id="main-visualization" class="col-md-10 col-sm-12 border border-dark p-0 m-0 container">
            <div class="row">
                <form method="GET">
                    <div class="row form-row">
                        <div class="form-group col-md-3">
                            <input type="text" id="search" placeholder="Search Graph..." name="search" class="form-control">
                        </div>
                        <div class="form-group col-md-3">

                            <select name="inputAttribute" id="inputAttribute" class="form-control">
                                <option value="" disabled selected hidden>Select Filter Attribute...</option>
                                <option value=""></option>
                                    {% for a in vertex_attributes %}
                                        <option value="{{a}}" >{{a}}</option>
                                    {% endfor %}
                             </select>
                        </div>
                        <div class="form-group col-md-2">
                            <select name="inputOperation" id="inputOperation" class="form-control">
                                <option value="" disabled selected hidden>Select Filter Operator...</option>
                                <option value=""></option>
                                <option value="eq">=</option>
                                <option value="gt">&#62;</option>
                                <option value="ge">&#62;=</option>
                                <option value="lt">&#60;</option>
                                <option value="le">&#60;=</option>
                                <option value="ne">!=</option>
                                <option value="xor">xor</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <input class="form-control" type="text" id="inputValue" placeholder="Filter value..." name="inputValue">
                        </div>
                        <div class="col-md-2 form-group">
                            <button type="submit" class="btn btn-primary w-100">Search</button>
                        </div>
                    </div>
                </form>
            </div>
                {{ simple_visualization|safe|escape }}
            </div>

        </div>
    </div>
    <div id="minimap" class="border border-dark">
        <p><h3 class="text-center">Minimap</h3></p>
    </div>

    <!-- https://getbootstrap.com/docs/4.0/components/modal/#live-demo -->
    <div class="modal fade" id="vertexInfoModal" tabindex="-1" role="dialog" aria-labelledby="vertexInfoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="vertexInfoModalLabel">Vertex details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div id="vertexInfoContent" class="modal-body">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


    <!-- Bootstrap and jquery -->
    <script type="text/javascript" src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/jquery.slimscroll.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- jsTree -->
    <script type="text/javascript" src="{% static 'jstree/jstree.min.js' %}"></script>

    <script src = "{% static 'app.js' %}"></script>

    <script>
        // Generate tree view
        const treeNodes = new Map();
        {% for v in vertices %}
            treeNodes.set({{v.id}}, {
                        'id': '{{ v.id }}',
                        'name': '{{ v.attributes.name }}',
                        'parents': [
                            {% for p in v.parents %}
                                '{{ p.id }}',
                            {% endfor %}
                        ],
                        'children': [
                            {% for c in v.children %}
                                '{{ c.id }}',
                            {% endfor %}
                        ],
                        'attributes': {
                            {% for attr, value in v.attributes.items %}
                                '{{ attr }}': '{{value}}',
                            {% endfor %}
                        }
                    });
        {% endfor %}
        generateTreeView(treeNodes);
    </script>
</body>
</html>